<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_Announcement.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,416},{298,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,146}}</string>
                <key>sourceSize</key>
                <string>{298,146}</string>
            </dict>
            <key>activity_Announcement_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,441},{344,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,145}}</string>
                <key>sourceSize</key>
                <string>{344,145}</string>
            </dict>
            <key>activity_c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,722},{267,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,68}}</string>
                <key>sourceSize</key>
                <string>{267,68}</string>
            </dict>
            <key>activity_c_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,564},{308,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,121}}</string>
                <key>sourceSize</key>
                <string>{308,121}</string>
            </dict>
            <key>activity_c_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,173},{249,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,124}}</string>
                <key>sourceSize</key>
                <string>{249,124}</string>
            </dict>
            <key>activity_firstpay30_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{265,464}}</string>
                <key>offset</key>
                <string>{-21,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,464}}</string>
                <key>sourceSize</key>
                <string>{307,500}</string>
            </dict>
            <key>activity_firstpay99_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,500}}</string>
                <key>sourceSize</key>
                <string>{307,500}</string>
            </dict>
            <key>activity_firstpay_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{271,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,437}}</string>
                <key>sourceSize</key>
                <string>{271,437}</string>
            </dict>
            <key>activity_growthfund_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,173},{375,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,241}}</string>
                <key>sourceSize</key>
                <string>{375,241}</string>
            </dict>
            <key>activity_limit_01_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,590},{208,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{208,93}}</string>
                <key>sourceSize</key>
                <string>{280,93}</string>
            </dict>
            <key>activity_limit_02_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,789},{222,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{222,73}}</string>
                <key>sourceSize</key>
                <string>{280,73}</string>
            </dict>
            <key>activity_limit_03_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,794},{218,71}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{218,71}}</string>
                <key>sourceSize</key>
                <string>{280,71}</string>
            </dict>
            <key>activity_limit_04_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,935},{222,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{222,70}}</string>
                <key>sourceSize</key>
                <string>{280,70}</string>
            </dict>
            <key>activity_limit_05_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,747},{208,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{208,53}}</string>
                <key>sourceSize</key>
                <string>{280,53}</string>
            </dict>
            <key>activity_limit_06_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,535},{210,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{210,53}}</string>
                <key>sourceSize</key>
                <string>{280,53}</string>
            </dict>
            <key>activity_limit_07_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,802},{218,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{218,63}}</string>
                <key>sourceSize</key>
                <string>{280,63}</string>
            </dict>
            <key>activity_limit_08_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,685},{212,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{212,60}}</string>
                <key>sourceSize</key>
                <string>{280,60}</string>
            </dict>
            <key>activity_limit_09_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,285},{170,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{170,57}}</string>
                <key>sourceSize</key>
                <string>{280,57}</string>
            </dict>
            <key>activity_limit_10_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,344},{206,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{206,68}}</string>
                <key>sourceSize</key>
                <string>{280,68}</string>
            </dict>
            <key>activity_limit_11_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,867},{224,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{224,66}}</string>
                <key>sourceSize</key>
                <string>{280,66}</string>
            </dict>
            <key>activity_limit_12_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,481},{198,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{198,52}}</string>
                <key>sourceSize</key>
                <string>{280,52}</string>
            </dict>
            <key>activity_limit_13_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,208},{140,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{140,75}}</string>
                <key>sourceSize</key>
                <string>{280,75}</string>
            </dict>
            <key>activity_limit_14_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{204,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{204,101}}</string>
                <key>sourceSize</key>
                <string>{280,101}</string>
            </dict>
            <key>activity_limit_15_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,787},{210,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{210,97}}</string>
                <key>sourceSize</key>
                <string>{280,97}</string>
            </dict>
            <key>activity_limit_16_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,928},{208,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{208,56}}</string>
                <key>sourceSize</key>
                <string>{280,56}</string>
            </dict>
            <key>activity_limit_17_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,867},{216,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{216,59}}</string>
                <key>sourceSize</key>
                <string>{280,59}</string>
            </dict>
            <key>activity_limit_18_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,910},{220,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{220,57}}</string>
                <key>sourceSize</key>
                <string>{280,57}</string>
            </dict>
            <key>activity_limit_19_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,634},{256,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{256,86}}</string>
                <key>sourceSize</key>
                <string>{280,86}</string>
            </dict>
            <key>activity_limit_20_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,789},{232,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{232,66}}</string>
                <key>sourceSize</key>
                <string>{280,66}</string>
            </dict>
            <key>activity_limit_21_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,794},{254,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{254,64}}</string>
                <key>sourceSize</key>
                <string>{280,66}</string>
            </dict>
            <key>activity_limit_22_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,850},{246,58}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{246,58}}</string>
                <key>sourceSize</key>
                <string>{280,66}</string>
            </dict>
            <key>activity_limit_23_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,792},{252,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{252,56}}</string>
                <key>sourceSize</key>
                <string>{280,66}</string>
            </dict>
            <key>activity_r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{378,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,164}}</string>
                <key>sourceSize</key>
                <string>{378,164}</string>
            </dict>
            <key>activity_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,504},{363,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,70}}</string>
                <key>sourceSize</key>
                <string>{363,70}</string>
            </dict>
            <key>activity_r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,517},{246,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,65}}</string>
                <key>sourceSize</key>
                <string>{246,65}</string>
            </dict>
            <key>activity_r_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,687},{312,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,105}}</string>
                <key>sourceSize</key>
                <string>{312,105}</string>
            </dict>
            <key>activity_r_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,560},{271,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,72}}</string>
                <key>sourceSize</key>
                <string>{271,72}</string>
            </dict>
            <key>activity_r_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,249},{304,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,77}}</string>
                <key>sourceSize</key>
                <string>{304,77}</string>
            </dict>
            <key>activity_r_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,168},{341,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,79}}</string>
                <key>sourceSize</key>
                <string>{341,79}</string>
            </dict>
            <key>activity_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,328},{275,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,76}}</string>
                <key>sourceSize</key>
                <string>{275,76}</string>
            </dict>
            <key>activity_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,414},{192,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,65}}</string>
                <key>sourceSize</key>
                <string>{192,65}</string>
            </dict>
            <key>activity_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,927},{240,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,70}}</string>
                <key>sourceSize</key>
                <string>{240,70}</string>
            </dict>
            <key>activity_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,860},{248,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,65}}</string>
                <key>sourceSize</key>
                <string>{248,65}</string>
            </dict>
            <key>activity_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,424},{194,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,91}}</string>
                <key>sourceSize</key>
                <string>{194,91}</string>
            </dict>
            <key>activity_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,517},{245,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,113}}</string>
                <key>sourceSize</key>
                <string>{245,113}</string>
            </dict>
            <key>activity_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,484},{272,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,74}}</string>
                <key>sourceSize</key>
                <string>{272,74}</string>
            </dict>
            <key>activity_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,406},{274,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,76}}</string>
                <key>sourceSize</key>
                <string>{274,76}</string>
            </dict>
            <key>activity_sevenlogin_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{498,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,169}}</string>
                <key>sourceSize</key>
                <string>{498,169}</string>
            </dict>
            <key>activity_shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,441},{346,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,100}}</string>
                <key>sourceSize</key>
                <string>{346,100}</string>
            </dict>
            <key>activity_signin1_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,970},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>activity_signin_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{180,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,51}}</string>
                <key>sourceSize</key>
                <string>{180,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_cn.png</string>
            <key>size</key>
            <string>{1572,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7915b3e88ab51bf43df5fe427f17282a$</string>
            <key>textureFileName</key>
            <string>activity_cn.png</string>
        </dict>
    </dict>
</plist>
