<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daily_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,473},{85,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,99}}</string>
                <key>sourceSize</key>
                <string>{85,99}</string>
            </dict>
            <key>daily_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,497},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>daily_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,458},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,99}</string>
            </dict>
            <key>daily_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,458},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>daily_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,458},{69,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{69,79}}</string>
                <key>sourceSize</key>
                <string>{85,99}</string>
            </dict>
            <key>daily_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,545},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>daily_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,458},{69,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{69,79}}</string>
                <key>sourceSize</key>
                <string>{85,99}</string>
            </dict>
            <key>daily_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,497},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>daily_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,329},{63,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{63,73}}</string>
                <key>sourceSize</key>
                <string>{85,99}</string>
            </dict>
            <key>daily_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,485},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>daily_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,497},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{57,73}}</string>
                <key>sourceSize</key>
                <string>{85,99}</string>
            </dict>
            <key>daily_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,545},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>daily_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,325}}</string>
                <key>sourceSize</key>
                <string>{640,325}</string>
            </dict>
            <key>daily_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,362},{106,109}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{112,109}</string>
            </dict>
            <key>daily_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,251},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{106,109}</string>
            </dict>
            <key>daily_bg_3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,398},{157,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,171}}</string>
                <key>sourceSize</key>
                <string>{157,171}</string>
            </dict>
            <key>daily_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{166,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,296}}</string>
                <key>sourceSize</key>
                <string>{166,296}</string>
            </dict>
            <key>daily_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{110,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,95}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>daily_bg_5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,269},{263,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,127}}</string>
                <key>sourceSize</key>
                <string>{263,127}</string>
            </dict>
            <key>daily_bg_5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,140},{263,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,127}}</string>
                <key>sourceSize</key>
                <string>{263,127}</string>
            </dict>
            <key>daily_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,329},{263,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,127}}</string>
                <key>sourceSize</key>
                <string>{263,127}</string>
            </dict>
            <key>daily_bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,114},{72,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,20}}</string>
                <key>sourceSize</key>
                <string>{72,20}</string>
            </dict>
            <key>daily_bg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,497},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>daily_bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{274,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,136}}</string>
                <key>sourceSize</key>
                <string>{274,136}</string>
            </dict>
            <key>daily_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,398},{161,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,162}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>daily_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{68,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,57}}</string>
                <key>sourceSize</key>
                <string>{68,57}</string>
            </dict>
            <key>daily_shade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,140},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{106,109}</string>
            </dict>
            <key>daily_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,398},{5,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,24}}</string>
                <key>sourceSize</key>
                <string>{5,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daily.png</string>
            <key>size</key>
            <string>{1017,567}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60740cddf383c38bd4935a066c851d9c$</string>
            <key>textureFileName</key>
            <string>daily.png</string>
        </dict>
    </dict>
</plist>
