<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cr1_e_angel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,715},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_e_arden_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_e_dreaf_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,715},{100,145}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{100,145}}</string>
                <key>sourceSize</key>
                <string>{100,155}</string>
            </dict>
            <key>cr1_e_eletha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,817},{94,155}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,155}}</string>
                <key>sourceSize</key>
                <string>{100,155}</string>
            </dict>
            <key>cr1_e_kaz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,402},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_e_lyca_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,402},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_e_nemora_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,502},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_e_ogi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,302},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_e_raine_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,302},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_e_sparta_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,202},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_e_ulmus_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,202},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_h_angelo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,628},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_h_belinda_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,801},{98,201}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{98,201}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_h_estrilda_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,415},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_h_hogan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,815},{98,199}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{98,199}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_h_lily_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,202},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_h_lra_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,628},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_h_merek_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,202},{100,149}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,149}}</string>
                <key>sourceSize</key>
                <string>{100,155}</string>
            </dict>
            <key>cr1_h_mirael_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,415},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_h_morvus_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,202},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_h_shield_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,628},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_h_three_knives_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,415},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_h_ulric_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,841},{100,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,155}}</string>
                <key>sourceSize</key>
                <string>{100,155}</string>
            </dict>
            <key>cr1_o_ankhira_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,202},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_o_arkadios_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,353},{100,147}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,147}}</string>
                <key>sourceSize</key>
                <string>{100,155}</string>
            </dict>
            <key>cr1_o_bloodsnarl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,707},{92,155}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,155}}</string>
                <key>sourceSize</key>
                <string>{100,155}</string>
            </dict>
            <key>cr1_o_brutus_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,102},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_o_golus_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,102},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_o_khasos_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_o_numisu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_o_sacrifice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_o_saveas_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_o_vurk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_o_warek_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_u_ferael_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,815},{98,199}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{98,199}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_u_fitz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,502},{98,207}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,207}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_u_isabella_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,817},{98,197}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{98,197}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_u_juggernaut_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_u_niru_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_u_sezis_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,841},{100,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,155}}</string>
                <key>sourceSize</key>
                <string>{100,155}</string>
            </dict>
            <key>cr1_u_shemira_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,211}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_u_silvina_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,502},{98,203}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{98,203}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_u_steixius_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,841},{100,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,155}}</string>
                <key>sourceSize</key>
                <string>{100,155}</string>
            </dict>
            <key>cr1_u_thoran_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,102},{98,201}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{98,201}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
            <key>cr1_u_vedans_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,502},{98,203}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{98,203}}</string>
                <key>sourceSize</key>
                <string>{98,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{945,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:472baff54373aa207aa44ea55bb1b6d1$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
