<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_Resources_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,114},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>main_bg_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,177},{102,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,70}}</string>
                <key>sourceSize</key>
                <string>{102,70}</string>
            </dict>
            <key>main_bg_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{860,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,79}}</string>
                <key>sourceSize</key>
                <string>{860,79}</string>
            </dict>
            <key>main_bg_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{640,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,68}}</string>
                <key>sourceSize</key>
                <string>{640,68}</string>
            </dict>
            <key>main_bg_frame_Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{172,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,79}}</string>
                <key>sourceSize</key>
                <string>{172,79}</string>
            </dict>
            <key>main_bg_frame_Choose01.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{117,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,79}}</string>
                <key>sourceSize</key>
                <string>{117,79}</string>
            </dict>
            <key>main_bg_frame_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,153},{1,1}}</string>
                <key>offset</key>
                <string>{-26.5,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>main_button_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,258},{107,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{107,39}}</string>
                <key>sourceSize</key>
                <string>{107,45}</string>
            </dict>
            <key>main_button_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,306},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>main_button_04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,289},{106,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,78}}</string>
                <key>sourceSize</key>
                <string>{106,78}</string>
            </dict>
            <key>main_button_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,379},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>main_button_05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,162},{106,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,77}}</string>
                <key>sourceSize</key>
                <string>{106,77}</string>
            </dict>
            <key>main_button_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,369},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>main_button_06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,289},{106,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,78}}</string>
                <key>sourceSize</key>
                <string>{106,78}</string>
            </dict>
            <key>main_button_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,83},{91,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,77}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>main_button_07_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{106,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,93}}</string>
                <key>sourceSize</key>
                <string>{106,93}</string>
            </dict>
            <key>main_button_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,338},{90,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,62}}</string>
                <key>sourceSize</key>
                <string>{90,62}</string>
            </dict>
            <key>main_button_08_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,365},{106,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{106,80}</string>
            </dict>
            <key>main_button_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,353},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>main_button_09_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,83},{106,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,77}}</string>
                <key>sourceSize</key>
                <string>{106,77}</string>
            </dict>
            <key>main_button_Gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,177},{96,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,101}}</string>
                <key>sourceSize</key>
                <string>{96,101}</string>
            </dict>
            <key>main_button_Novice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,108}}</string>
                <key>sourceSize</key>
                <string>{114,108}</string>
            </dict>
            <key>main_button_Ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,353},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>main_button_accelerate.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,353},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>main_button_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,253},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>main_button_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,253},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>main_button_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,369},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>main_button_firstpay.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,177},{112,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,110}}</string>
                <key>sourceSize</key>
                <string>{112,110}</string>
            </dict>
            <key>main_button_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,369},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>main_button_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,152},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>main_button_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,153},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>main_button_sevenlogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,153},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>main_experience_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{453,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,10}}</string>
                <key>sourceSize</key>
                <string>{453,10}</string>
            </dict>
            <key>main_experience_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{453,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,10}}</string>
                <key>sourceSize</key>
                <string>{453,10}</string>
            </dict>
            <key>main_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,241},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>main_icon_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,252},{94,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,99}}</string>
                <key>sourceSize</key>
                <string>{94,99}</string>
            </dict>
            <key>main_power_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,83},{150,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,29}}</string>
                <key>sourceSize</key>
                <string>{150,29}</string>
            </dict>
            <key>main_talking_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,344},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>main_windows_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,281},{82,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,99}}</string>
                <key>sourceSize</key>
                <string>{82,99}</string>
            </dict>
            <key>main_windows_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,306},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>maze_button_Revival.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,369},{94,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,99}}</string>
                <key>sourceSize</key>
                <string>{94,99}</string>
            </dict>
            <key>好友_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,162},{106,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,73}}</string>
                <key>sourceSize</key>
                <string>{106,73}</string>
            </dict>
            <key>邮件_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,237},{106,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,67}}</string>
                <key>sourceSize</key>
                <string>{106,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1002,473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fe87f66265c4ec382b02f39e45c5456$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
