<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{356,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,287}}</string>
                <key>sourceSize</key>
                <string>{356,287}</string>
            </dict>
            <key>map_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{401,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,423}}</string>
                <key>sourceSize</key>
                <string>{401,423}</string>
            </dict>
            <key>map_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{579,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,377}}</string>
                <key>sourceSize</key>
                <string>{579,377}</string>
            </dict>
            <key>map_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,792},{202,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,198}}</string>
                <key>sourceSize</key>
                <string>{202,198}</string>
            </dict>
            <key>map_bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{384,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,337}}</string>
                <key>sourceSize</key>
                <string>{384,337}</string>
            </dict>
            <key>map_bg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,381},{367,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,229}}</string>
                <key>sourceSize</key>
                <string>{367,229}</string>
            </dict>
            <key>map_bg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,709},{246,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,317}}</string>
                <key>sourceSize</key>
                <string>{246,317}</string>
            </dict>
            <key>map_bg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{359,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,198}}</string>
                <key>sourceSize</key>
                <string>{359,198}</string>
            </dict>
            <key>map_bg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,363},{344,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,298}}</string>
                <key>sourceSize</key>
                <string>{344,298}</string>
            </dict>
            <key>map_bg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,427},{358,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,216}}</string>
                <key>sourceSize</key>
                <string>{358,216}</string>
            </dict>
            <key>map_bg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,291},{220,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,260}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>map_bg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,712},{277,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,167}}</string>
                <key>sourceSize</key>
                <string>{277,167}</string>
            </dict>
            <key>map_bg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,553},{237,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,180}}</string>
                <key>sourceSize</key>
                <string>{237,180}</string>
            </dict>
            <key>map_bg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,427},{283,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,193}}</string>
                <key>sourceSize</key>
                <string>{283,193}</string>
            </dict>
            <key>map_bg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,787},{233,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,183}}</string>
                <key>sourceSize</key>
                <string>{233,183}</string>
            </dict>
            <key>map_bg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{288,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,223}}</string>
                <key>sourceSize</key>
                <string>{288,223}</string>
            </dict>
            <key>map_bg_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,750},{241,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,195}}</string>
                <key>sourceSize</key>
                <string>{241,195}</string>
            </dict>
            <key>map_icon_qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,291},{56,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,93}}</string>
                <key>sourceSize</key>
                <string>{56,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{1585,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:033b251dd570b76772b9e9a1aba90716$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
